.section-5 {
	background: #F2F2F2 url(../img/pc/section5.png) top right no-repeat;
	padding: 120px 0;
}
.section-5 .container .title {
	padding-bottom: 39px;
}
.section-5 .container .price {
	font-weight: bold;
	font-size: 100px;
	line-height: 117px;
	color: #1939DE;
	padding-bottom: 22px;
}
.section-5 .container .price-text {
	padding-bottom: 20px;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	max-width: 390px;
}
.section-5 .container .price-desc {
	max-width: 390px;
}
.section-5 .container .price-desc span {
	font-weight: 500;
}

@media (max-width: 1200px) {
    
}
@media (max-width: 992px) {
    .section-5 {
	background: #F2F2F2 url(../img/Table/background-s5.jpg) bottom right no-repeat;
	padding: 60px 0 80px;
}
.section-5 .container .title {
	padding-bottom: 48px;
}
.section-5 .container .price {
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	padding-bottom: 17px;
}
.section-5 .container .price-text {
	padding-bottom: 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	max-width: 390px;
}
.section-5 .container .price-desc {
	max-width: 340px;
	font-size: 16px;
	line-height: 20px;
}
.section-5 .container .price-desc span {
	
}
}
@media (max-width: 768px) {
    .section-5 {
	background: #F2F2F2 url(../img/Mobile/background5.jpg) bottom center no-repeat;
	padding: 40px 0 185px;
}
.section-5 .container .title {
	padding-bottom: 36px;
}
.section-5 .container .price {
	font-size: 48px;
	line-height: 56px;
	padding-bottom: 20px;
}
.section-5 .container .price-text {
	padding-bottom: 19px;
	font-size: 14px;
	line-height: 20px;
	max-width: none;
}
.section-5 .container .price-desc {
	max-width: none;
	font-size: 14px;
	line-height: 20px;
}
.section-5 .container .price-desc span {
	
}
}